nav{
    background: darkblue;
    border-bottom: 10px solid white;   
}
nav a{
    text-transform: uppercase;
    color: white;
}
nav a span{
    font-weight: bold;
}
nav .sidnav-trigger{
    margin: 0;
}
h6{
    color: white;
}
.items{
    margin-top: 10px;
}
.card-panel.items{
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(90,90,90,0.1);
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    position: relative;
}
.description{
    grid-area: details;
    margin-top: 5px;
}
.deleteitem{
    grid-area: delete;
    align-items: right;
    bottom: 0px;
    right: 0px;
}
.deleteitem i{
    font-size: 25px;
}
.ID{
    font-size: 20px;
    font-weight: bold;
    display:inline-block;
    margin-right: 10px;
}
.name{
    font: italic;
    display:inline-block;
    margin-right:10px;
}
.relatedname{
    font-weight: bold;
    margin-right:10px;
}
.relationpercent{
    color: rgb(88, 255, 88);
}
.add-item{
    background: white !important;
}
input{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.side-form button{
    background: darkblue;
    box-shadow: 1px 2px 1px rgba(90,90,90,0.2);
}
form .input-field{
    margin-top: 20px;
    margin-left: 10px;
}
i.icon-white{
    color: white;
}
.container{
    color: #0d47a1
}